@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #58b4e7;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

#header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

#header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    gap: 15px;
}

#header ul li {
    display: flex;
    justify-content: space-between;
    align-self: center;
    list-style: none;
    position: relative;
}

#header ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

@media (max-width: 564px){
    #header {
        width: 100%;
        height: 100px;
    }
    #header ul{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        top: 35%;
        left: 25%;
        right: 25%;
        height: 100%;
        font-weight: bold;
        font-size: 12px;
    }
    #header .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#header ul li a:hover, #header ul li a.active {
    background-color: #112434;
}
